<!DOCTYPE html>
<html>
  <head>
    <title>Shards Of Faerie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/vendor/css/bootstrap.css"></link>
    <script src="/vendor/js/jquery-3.3.1.js"></script>
    <script src="/vendor/js/bootstrap.bundle.js" ></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<div class="container clienttop">
  <div class="row"> <div class="col-md">
    <%= yield %>
  </div></div>

  <%#
  <div class="row"> <div class="col-md">
    <p class="chatarea"></p>
    <form onsubmit="return false;">
      <input type="textarea" class="chatinput"></input>
      <button class="chatbutton">Chat!</button>
    </form>
  </div></div>
  %>

  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <img src="/sof_logo.png" width="200" height="150"></img>
    </div>
    <div class="col-sm right-aligned">
      Logged in as <%= current_user.name || "No Name" %> / <%= current_user.email %>
    </div>
  </div>

</div>
  </body>
</html>
